.input_container {
    position: relative;
    padding: 5px;
}

.superInput {
    outline: none;
    padding: 5px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.errorInput {
    border: 1px solid red;
}

.span_error {
    color: red;
    position: absolute;
    font-size: 0.8em;
    left: 12px;
    top: -4px;
    background-color: white;
    padding: 0 4px;
}